@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700;900&display=swap');

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #17182B;
    color: white;
    display: flex;
}
.search {
    margin-bottom: 20px;
}
.listings{
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    transition: 0.3s ease 0s
}

.listings:hover {
    background-color: rgba(255,255,255,0.6);
}
input[class=priceinput]{
    width: 50px;
    height: 20px;
    margin-right: 20px;
}
input[class=dateinput]{
    width: 55px;
    height: 20px;
    margin-right: 10px;
}
.sidebar header {
    display: block;
    color: black;
    font-size: 22px;
    text-align: center;
    user-select: none;
    width: 100%;
    line-height: 70px;
}

.filter-title{
    color: white;
    font-size: 26px;
    text-align: center;
}

.sidebar ul {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px
    font-size: 20px;
    padding-left: 20px;
    list-style: none;
}

.browse-listings {
    list-style: none;
}

.browse-listings li {
    display: inline-grid;
    padding: 30px 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.list-img {
    max-width: 200px;
    max-height: 200px;
}

.browse-body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    left: 0;
    height: 100%;
    width: calc(100% - 200px);
    margin: 10px 200px;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1 {
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.fndstr {
    margin: 0 5px;
    padding: 2px 10px;
    background-color: rgba(136,244,134,1);
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-below: 10px;
}
a {
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}