{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Home{%endblock%}</title>
    {% block head %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css')}}">
    {%endblock%}
</head>
<body>
    {% block content %}
      <h1>Welcome to Food Saver</h1>
      <a class="browse" href="{{ url_for('browse', meal_id=0) }}">Browse</a>
      <a class="browse" href="/store-signup">Store Signup</a>
      <a class="browse" href="/find-store">Find A Store</a><br><br><br>
      <a class="browse" href="/add-item">Add Item For Sale</a>
      <a class="browse" href="/meals">Meal Suggestion</a>
      <a class="browse" href="/view-item">View/Reserve Item</a>
    {% endblock %}
</body>
</html>