{% extends 'base.html' %}
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Meal Suggestions{%endblock%}</title>
  {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/meal-suggestion.css')}}">
  {%endblock%}
</head>
<body>
  {% block content %}
    <div class="sidebar">
      <ul>
        <li class="filter-title">Filters</li>
        <li class="filter-text">Price:</li>
        <li>
          <input type="number" class="priceinput" name="mininput" placeholder="Min.">
          <input type="number" class="priceinput" name="maxprice" placeholder="Max.">
        </li>
        <li class="filter-text">Expires after:</li>
        <li>
          <input type="number" class="dateinput" name="month" placeholder="Month">
          <input type="number" class="dateinput" name="day" placeholder="Day">
        </li>
      </ul>
    </div>
    <div class="browse-body">
      <h1 style="margin-bottom: 10px;">Meal Suggestions</h1>
      <div>
        <input type="text" name="search" placeholder="Search">
        <input type="text" name="ingredient" placeholder="Ingredient">
        <a class="fndstr" href="#">Find Store</a>
      </div>
      <ul class="browse-listings">
        {% for meal in meals %}
          <li>
            <a href="#"><img class="list-img" src="{{ meal.meal_img }}"></a>
            <div><a href="/browse" class="list_name">{{ meal.meal_name }}</a></div>
          </li>
        {%endfor%}
      </ul>
    </div>
  {%endblock%}
</body>
</html>