{% extends 'base.html' %}
<head>
  <meta charset="UTF-8">
  <title>{% block title %}View Item{%endblock%}</title>
  {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view-style.css')}}">
  {%endblock%}
</head>
<body>
  {% block content %}
    <div><a class="bck" href=" {{ url_for('browse', meal_id=meal_id, store_id=store_id) }}">Back to Browse</a></div>
    <div class="top">
      <div>
        <img class="itmimg" src="{{ url_for('static', filename=item.item_img) }}" alt=" {{ item.item_name }}">
      </div>
      <div class="rsrv-pnl">
        <form method="post">
          <label class="qlabel">Quantity:</label>
          <input type="number" class="quantity" name="quantity" value="1" min="1" max="{{ max }}">
          <div class="rsvp-name-data">
            <label class="nlabel">Name:</label>
          <input type="text" class="name-input" name="name" required>
          </div>
          <button type="submit" class="rsrv">Reserve</button>
        </form>
      </div>
    </div>
    <div class="btm">
      <div><Label class="name">{{ item.item_name }}</Label></div>
      <div><Label class="exp">Expires {{ post.exp_date.strftime('%b %d') }}</Label></div>
      <div><Label class="price">${{ post.price }}</Label></div>
      <div><Label class="desc">Description:</Label></div>
      <div class="dtext"><p>{{ item.item_desc }}</p></div>
    </div>
  {%endblock%}
</body>